<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

<servlet>
   <servlet-name>a</servlet-name>
   <servlet-class>demo.logIn</servlet-class>
</servlet>

<servlet>
   <servlet-name>b</servlet-name>
   <servlet-class>demo.sqlShow</servlet-class>
</servlet>

<servlet>
   <servlet-name>c</servlet-name>
   <servlet-class>demo.register</servlet-class>
</servlet>

<servlet>
   <servlet-name>d</servlet-name>
   <servlet-class>demo.updateCar</servlet-class>
</servlet>

<servlet>
   <servlet-name>e</servlet-name>
   <servlet-class>demo.inquireWlist</servlet-class>
</servlet>

<servlet>
   <servlet-name>f</servlet-name>
   <servlet-class>demo.wishListAdd</servlet-class>
</servlet>

<servlet>
   <servlet-name>g</servlet-name>
   <servlet-class>demo.clone</servlet-class>
</servlet>

<servlet>
   <servlet-name>h</servlet-name>
   <servlet-class>demo.addCar</servlet-class>
</servlet>

<servlet>
   <servlet-name>i</servlet-name>
   <servlet-class>demo.deleteCar</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>a</servlet-name>
   <url-pattern>/log</url-pattern>
</servlet-mapping>

<servlet-mapping>
   <servlet-name>b</servlet-name>
   <url-pattern>/choose</url-pattern>
</servlet-mapping>

<servlet-mapping>
   <servlet-name>c</servlet-name>
   <url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet-mapping>
   <servlet-name>d</servlet-name>
   <url-pattern>/updateCar</url-pattern>
</servlet-mapping>

<servlet-mapping>
   <servlet-name>e</servlet-name>
   <url-pattern>/inquire</url-pattern>
</servlet-mapping>

<servlet-mapping>
   <servlet-name>f</servlet-name>
   <url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet-mapping>
   <servlet-name>g</servlet-name>
   <url-pattern>/clone</url-pattern>
</servlet-mapping>

<servlet-mapping>
   <servlet-name>h</servlet-name>
   <url-pattern>/insertCar</url-pattern>
</servlet-mapping>

<servlet-mapping>
   <servlet-name>i</servlet-name>
   <url-pattern>/deleteCar</url-pattern>
</servlet-mapping>
</web-app>