body {
	height:100%;
	width: 100%;
}
.container-container {
	width: 100%;
	height: 100%;
	background-image: url("../image/image1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.form_container {
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 0 20px 0;
    background-color: white;
    

}
.form_container h1 {
    text-align: center;
}
.form_container form {
    margin: auto;
    width: 90%;
}
.form_container form .formInput {
    width: 100%;
    margin: 20px 0 20px 0;
}
.formInput {
    display: grid;
    grid-template-columns: 30% 70%;
}
.formInput label, .formInput input {
    height: 30px;
    display: flex;
    line-height: 30px;
}
.formInput input {
	border: 1px solid black;
	padding: 0 5px 0 5px;
}
.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}
