/*container css*/

.container #vehicleheader {
    color: grey;
    text-align: center;
    padding-bottom: 10px 0 10px 0;
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.container .sub_container {
    margin: 50px 0 50px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 10% 20px 10%;
}
.container .sub_container form div {
    margin-top: 20px;
}

.sub_container form label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub_container form .input-form {
    height: 27px;
    border: 1px solid blue;
}
.sub_container form .lg {
    width: 200px;
} 

.sub_container form .sm {
    width: 70px;
}