
 * {
     font-family: Georgia, 'Times New Roman', Times, serif;
     box-sizing: border-box;
}
* a {
    text-decoration: none;
}

body{
    background: teal;
}

/* header and container*/
.header, .container {
    width: 100%;
    padding: 10px 20% 10px 20%;

}

/* header */
.header {
    height: 70px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: thistle;
}
.header a {
    font-size: large;
    color: black;
}
.header a:hover{
    color: blue;
    border-bottom: 1px solid blue;
}
.header ul{
    display: flex;
    list-style: none;
    margin-top: 0;
}

.header ul li {
    padding: 0 10px 0 10px;
}

